body {
	background-image: url("background.gif");
	margin-left:10%;
	margin-right:10%;
	font-family:georgia ; 
	color: #008080;
}

#container{
	border:10px white solid;
	background-color: white;
	align: right;
}

#header {
	background-color: #A8F0F0;
	text-align: right;
	border-radius: 5px;
}

.entry {
	border: 4px #C2E9E9 solid;
	border-radius: 15px;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
	text-align: justify;
}

.entry img {
	float:right;
}

.spacer {
	clear:right;
}

#header h2 {
	font-size: 15pt;

}

.date {
	border-bottom-width: 2px;
	border-bottom-style: dashed;
	border-bottom-color: blue;
}

